.hero-header {
  font-size: 80px;
  font-weight: 900 !important;
  line-height: 0.62;
  /* letter-spacing: -2.5px; */
  text-transform: uppercase;
  margin: 24px 0;
}

@media screen and (min-width: 768px) {
  .hero-header {
    font-size: 6em;
    font-weight: 600;
    line-height: 0.78;
    letter-spacing: -2.5px;
    text-transform: uppercase;
    margin: 24px 0 0px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-header {
    font-size: 9em;
    font-weight: 600;
    line-height: 0.78;
    letter-spacing: -2.5px;
    text-transform: uppercase;
    margin: 24px 0 0px;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.slide-up {
  transform: translateY(0);
  transition: all 300ms ease-in-out;
  animation-name: slideUp;
  animation-duration: 1s;
  animation-delay: -3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.scale-up {
  transform: scale(0%, 0%);
  transition: transform 300ms ease-in-out;
}

.project-circle:hover {
  color: red;
}

.project-circle:hover .scale-up {
  transform: scale(100%, 100%);
}
